*{box-sizing:border-box}
body{
    font:100% Helvetica,sans-serif;
    color:#333;
    background-color:#fff;
   
}
.custom-table{
  box-shadow: 0 0 13px rgba(83, 82, 82, 0.263);
}

.custom-table > thead{
  background-color: rgb(236, 251, 255);
}

.custom-table  img{
max-height: 80px;
}

.custom-table td,th{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.custom-table i{
  margin: 0 10;
}

i:hover{
   text-shadow: 0 0 5px rgba(0, 0, 0, 0.537);
    

}
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.365); /* Adjust the opacity to control the blur intensity */
    backdrop-filter: blur(2px); /* Apply the blur effect */
    z-index: 1040; /* Make sure the backdrop is below the modal */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
  display: block;
  }

  @media screen and   (min-width:1000px) {
    i{
        transform: scale(1.5) ;
        margin: 0 12;
    }
  }
  @media screen and   (max-width:1000px) {
    i{
        display: block;
    }
  }

  .disabled {
    pointer-events:none; 
           
}
.navbar-nav{
  margin-left: 100px;
  gap: 60px;
}
.activer{
  color: rebeccapurple;
}